* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-area {
    width: 400px;
    height: 100%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(241, 244, 247);
}

h1 {
    font-size: 32px;
    color: black;
    padding-bottom: 10px;
    text-align: center;
}

.text {
    font-size: 16px;
    text-align: center;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.name, .username, .email, .password, .confirmpassword {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.passw-area {
    display: flex;
    justify-content: space-between;
}

.passw-area p{
    font-size: 15px;
}

input {
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 7px;
} 

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

button {
    padding: 10px;
    width: 100%;
    color: aliceblue;
    background-color: #f75145;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

button:hover {
    color: #f75145;
    background-color: aliceblue;
}