


  header {
    height: 160px;
    padding: 10px;
  }
  
  header .first-head-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-family: "poppins";
  }
  
  header .first-head-area .burger-menu {
    display: none;
  }
  
  header .first-head-area .logo {
    font-size: 40px;
    font-weight: bolder;
  }
  
  header .first-head-area .search-area {
    font-size: 16px;
  }
  
  header .first-head-area .search-area input {
    padding: 10px;
    width: 400px;
    background-color: #f7f9fc;
    outline: none;
    border: 1px solid gray;
    border-radius: 8px;
  }
  
  header .first-head-area .nav-right-area {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  header .first-head-area .nav-right-area .area {
    display: flex;
    gap: 5px;
  }
  
  header .second-head-area nav {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 19px;
    padding: 20px 50px;
  }
  
  header .first-head-area .nav-right-area .area .username{
    width: 60px;
   padding: 5px;
   background-color: #d7c4d7;
   border: none;
  }
  
  header .first-head-area .nav-right-area .area .register, .logout{
    padding: 10px;
   }
  
   header .first-head-area .nav-right-area .area a{
   color: #000;
   display: flex;
   gap: 4px
   }
  
   a {
    text-decoration: none;
   }
  
  @media screen and (min-width: 625px) and (max-width: 868px) {
    header {
      display: flex;
      justify-content: space-around;
    }
  
    header .first-head-area .logo {
      font-size: 30px;
      padding-right: 15px;
    }
  
    header .first-head-area .search-area input {
      padding: 10px;
      width: 120px;
      font-size: 10px;
    }
  
    header .first-head-area .nav-right-area {
      padding: 0 16px;
      gap: 15px;
      font-size: 16px;
    }
  
    header .second-head-area nav {
      justify-content: center;
      font-size: 16px;
      align-items: center;
      gap: 15px;
      padding: 10px;
      padding: 10px 20px;
    }
  }
  
  @media screen and (max-width: 625px) {
    header {
      height: 90px;
      padding: 10px;
    }
  
    header .first-head-area .logo {
      font-size: 20px;
      padding: 0px;
    }
  
    header .first-head-area .nav-right-area,
    .search-area,
    .second-head-area {
      display: none;
    }
  
    header .first-head-area .burger-menu {
      display: block;
    }
  }
  
  .wishlist {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 10px;
  }
  
  .wishlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px 20px;
    gap: 15px;
    cursor: pointer;
  }
  
  .wishlist-item .image {
    width: 150px;
    height: 100px;
    border-radius: 8px;
  }
  .wishlist-item .title,
  .wishlist-item .price,
  .wishlist-item .category {
    margin: 0;
    width: 200px;
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .empty{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
  }